<template>
    <div class="spinner">
        <div class="spinner-circle"></div>
    </div>
</template>

<style scoped>
.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.spinner-circle {
    border: 4px solid #000000;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>