<template>
    <div class="container">
        <div class="btn-container">
            <button class="btn-new" @click="newOffers()">Собрать базу данных</button>
            <button class="btn-new" :class="{grey: nofers}" @click="getOffersForTable()">Вывести товары</button>
            <button class="btn-new" :class="{grey: nofers}" @click="downloadExcel()">Скачать excel</button>
        </div>
        <p class="red" v-if="redText">Сначала соберите базу данных</p>
        <Spinner v-if="isLoading" />
        <TableComp
            :offers="offers">
        </TableComp>
    </div>
</template>

<script>
import TableComp from '../components/table/table.vue';
import Spinner from '../components/spinner/spinner.vue';
export default {
    data() {
        return {
            nofers: true,
            redText: false,

            offers: [],

            offersOnPage: 10,
            page: 1,

            isLoading: false,
        }
    },
    mounted() {
        this.getOffers();
    },
    methods: {
        newOffers() {
            this.isLoading = true;
            this.offers = [];
            this.nofers = false
            this.redText = false;
            axios.get('api/xml-convert')
                .then(response => {
                    this.nofers = false;
                    this.redText = false;
                    console.log("response", response.data)
                })
                .catch(error => {
                    this.nofers = true
                    console.log("Ошибка", error)
                }).finally(() => {
                    this.isLoading = false;
                })
        },
        getOffers() {
            axios.get('api/get-offers')
                .then(response => {
                    if (response.data) {
                        this.nofers = false
                        this.redText = false;
                        console.log("response", response.data)
                    }
                })
                .catch(error => {
                    this.nofers = true
                    console.log("Ошибка", error)
                })
        },
        getOffersForTable() {
            this.isLoading = true;
            axios.get('api/get-offers')
                .then(response => {
                    if (response.data) {
                        this.offers = response.data.data;
                        this.nofers = false
                        this.redText = false;
                    }
                })
                .catch(error => {
                    this.redText = true;
                    this.nofers = true;
                    console.log("Ошибка", error)
                }).finally(() => {
                    this.isLoading = false;
                })
        },
        downloadExcel() {
            if (this.nofers == false) {
                window.location.href = '/download';
            } else {
                this.redText = true;
                this.nofers = true;
            }
        }
    },
    components: {
        TableComp, Spinner
    },
}
</script>

<style>
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
.btn-new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    padding: 10px;
    font-size: 12px;
}
.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}
.grey {
    background: #808080;
}
.red {
    color: red;
}



</style>