<template>
    <div class="table">
        <template v-for='offer in paginatedOffers' :key="name">
            <div class="row">
                <img class="img" :src="offer.picture">
                <p>{{ offer.name }}</p>
            </div>
        </template>
    </div>
    <div class="pagination">
        <button class="btn-new" @click="previousPage()">←</button>
        <span>{{ page }}</span>
        <button class="btn-new" @click="nextPage()">→</button>
    </div>
</template>


<script>
export default {
    data() {
        return {
            offersOnPage: 10,
            page: 1,
        }
    },
    props: {
        offers: Array,
    },
    computed: {
        paginatedOffers() {
            if(this.offers) {
                const start = (this.page - 1) * this.offersOnPage;
                const end = start + this.offersOnPage;
                return this.offers.slice(start, end)
            }
        },
        totalPages(){
            if(this.offers) {
                return Math.ceil(this.offers.length / this.offersOnPage)
            }
        }
    },
    methods: {
        previousPage(){
            if(this.page > 1) {
                this.page--;
            }
        },
        nextPage(){
            if(this.page < this.totalPages) {
                this.page++;
            }
        },
    }
}
</script>

<style>
.table{
    font-size: 16px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.row {
    display: flex;
    align-items: center;
    gap:10px;
}
.img {
    width:30px;
    height:30px;
}
</style>